body
{
  background-color: #00001a;
}

#logo
{
  width: 128px;
  height: 128px;
}

h1
{
  font-family: "Lucida Console";
  color: #F39C12;
  font-size: 70px;
  position: absolute;
  top: 0cm;
  left: 4cm;
}

#logoKnopf
{
  position: absolute;
  width: 14cm;
  height: 5cm;
  background: none;
  border: none;
}
