body
{
  background-color: #00001a;
}

#logo
{
  width: 128px;
  height: 128px;
  z-index: 2;
}

h1
{
  font-family: "Lucida Console";
  color: #F39C12;
  font-size: 70px;
  position: absolute;
  top: 0cm;
  left: 4cm;
  z-index: 2;
}

#logoKnopf
{
  position: absolute;
  width: 14cm;
  height: 5cm;
  opacity: 0;
  z-index: 3;
}

#banner
{
  top: 0;
  background: red;
  width: auto;
  height: 9cm;
  z-index: 1;
}
