body
{
  background-color: #00001a;
}

#logo
{
  top: 15px;
  left: 20px;
  width: 128px;
  height: 128px;
  z-index: 2;
  position: absolute;
}

#obimsaag
{
  font-family: "Lucida Console";
  color: #0B5345;
  font-size: 70px;
  position: absolute;
  top: 0cm;
  left: 4cm;
  z-index: 2;
}

#logoKnopf
{
  position: absolute;
  width: 14cm;
  height: 3.6cm;
  opacity: 0;
  z-index: 3;
}

#banner
{
  position: absolute;
  background: #138D75;
  width: 1900px;
  height: 4.8cm;
  z-index: 0;
  border: 6px #117A65 solid;
}

#line_banner
{
  top: 145px;
  position: absolute;
  background: #117A65;
  width: 1910px;
  height: 6px;
  z-index: 1;
}

#spotify
{
  position: absolute;
  color: #0B5345;
  font-family: "Lucida Console";
  font-size: 18px;
  z-index: 4;
  background: #16A085;
  border: none;
  top: 151px;
  height: 44px;
  left: 14px;
}

#schutz
{
  position: relative;
  background: none;
  width: 1900px;
  height: 4.8cm;
  z-index: -1;
}

#mixed
{
  height: 300px;
  width: auto;
  position: relative;
  left: 60px;
}

#textfeld
{
  position: absolute;
  top: 265px;
  left: 330px;
  background: #212F3D;
  z-index: 5;
  height: 290px;
  width: 450px;
  color: #ECF0F1;
  border: 4px solid #17202A;
  font-family: arial;
  font-weight: 500;
}

h3
{
  position: relative;
  left: 18px;
}

#in_textfeld
{
  position: relative;
  left: 18px;
}
